*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}
#box{
  height: 300px;
  width: 300px;
  background-color: blue;
  margin: 10px;
  border: 2px solid white;
  border-radius: 10px;
}
button{
  background-color: red;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding:10px 10px;
  font-size: large;
  font-weight: 600;
  border: none;
  border-radius: 10px;
}
button:active{
  scale:0.95;
}