*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
}
:root{
  --x:10px;
  --y:20px;
}
body{
  background-image: url("https://i.pinimg.com/736x/71/e1/e5/71e1e5b45944dd997e4c268fcc4c85f4.jpg");
  background-size: cover;
}
#upparkadiv{
  height: 100%;
  width: 100%;
  background: radial-gradient(150px at var(--x) var(--y), rgba(255, 255, 255, 0), black);
}
