*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html,body{
  height: 100%;
  width: 100%;
}
body{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
span{
  color:blue;
}
.card{
  height: 150px;
  width: 400px;
  
  background-color: white;
  border-radius: 10px;
  display: flex;
  gap:10px;
  flex-direction: column;
  padding: 15px;
}
.outer{
  background-color: gray;
  width: 100%;
  height:10px;
  margin-top: 5px;
  border-radius: 5px;
}
.inner{
  background-color: green;
  width: 0%;
  height:10px;
  margin-top: 5px;
  border-radius: 5px;
}
.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
button{
  padding:10px 20px;
  background-color: green;
  color:white;
  border-radius: 10px;
  border: none;
}
button:active{
  scale: 0.9;
}