*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:white;

}
html,body{
  height: 100%;
  width: 100%;
}
img{
  height: 350px;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap:10px;
  background-color: black;
}
