*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body{
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
button{
  padding:15px 20px;
  background-color: red;
  color: white;
  border-radius: 10px;
  border: 2px solid white;
  cursor: pointer;
  position: relative;
  z-index: 3;
}
button:active{
  scale:0.9;
}
h1{
  white-space: nowrap;
}