*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html,body{
  height: 100%;
  width: 100%;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  
}
.card{
  
  width: 300px;
  background-color: white;
  padding:30px;
  border-radius: 10px;
  text-align: center;
  position: relative;
}
img{
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}
i{
  position: absolute;
  top:50%;
  left:50%;
  color: white;
  font-size: 50px;
  transform: translate(-50%, -50%);

}