*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html,body{
  height: 100%;
  width: 100%;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  
}
.card{
  
  width: 300px;
  background-color: white;
  padding:25px;
  border-radius: 10px;
  text-align: center;
  
}
.card div{
  position: relative;
  overflow: hidden;
}
img{
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
  
}
i {
  position: absolute;
  top: 50%;
  left: 50%;
  
  font-size: 65px;
  
  background-image: url('./instagram-background-gradient-colors_23-2147819864.avif');
  background-size: cover;
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  transform: translate(-50%, -50%) scale(0) rotate(-30deg);
  opacity: 0;
  transition: all ease 0.4s;
}
