*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  
}
.card{
  
  width: 300px;
  background-color: white;
  padding:30px;
  border-radius: 10px;
  text-align: center;
}
img{
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}
