*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html,body{
  height: 100%;
  width: 100%;
  padding:20px;
  background-color: black;
}
.card{
  width: 250px;
  display: flex;
  background-color: white;
  flex-direction: column;
  gap:10px;
  text-align: center;
  padding:20px;
  border-radius: 10px;
}
img{
  object-fit: cover;
  border-radius: 50%;
  aspect-ratio: 1/1;
}
