*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html,body{
  height: 100%;
  width: 100%;
}
main{
  height: 100%;
  width: 100%;
  background:linear-gradient(to right bottom,rgb(28, 26, 26),rgb(38, 38, 38),black);
  padding:10px;
}
section{
  background-color: black;
  height:100%;
  width:28vw;
  border-radius: 10px;
  margin: auto;
}
.all-reels{
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.reel{
  height: 100%;
  width: 100%;
  border-radius: 10px;
  position: relative;
}
.reel img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.reel .bottom{
  height:30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap:20px;
  position: absolute;
  bottom: -10%;
  padding-left: 10px;

}
.reel .bottom .prof{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap:15px;
}
.reel .bottom .prof img{
  height: 30px;
  width: 30px;
  object-fit: cover;
  border-radius: 50%;
}
.reel .bottom .prof h4{
  margin-top: 3px;
  color: white;
  font-weight: 500;
}
.reel .bottom .prof button{
  padding:3px 10px;
  background-color: transparent;
  color:white;
  border:2px solid white;
  border-radius: 5px;
  cursor:pointer;
}
.reel .bottom .caption h4{
  color: white;
  font-weight: 500;
}
