*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
}
body{
  background-color: black;
  cursor: none;
}
img{
  height:50px;
  position: fixed;
  transform: translate(-50%,-50%);
  
}